body {
    font-family: 'PT Serif', serif;
}

.header {
    height: 90vh;
    width: 100%;
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url(https://images.pexels.com/photos/3861958/pexels-photo-3861958.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
}

.h-1 {
    height: 100%;
    width: 100%;
}

.btn {
    border-radius: 10rem !important;
    padding: 1.25rem 1.25rem !important;
}

.message {
    
    background-color: background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

.myicon {
    font-size: 60px;
    padding: 20px;
}